{% extends 'base.html.twig' %}

{% block content %}

    <br>
    <h1>Modifier un concours</h1>
    <br>
    {{ form_start(form) }}
    <div class="mb-3">
        <button class="btn btn-primary">Enregistrer</button>
    </div>
    {{ form_row(form.intitule) }}
    {{ form_row(form.type_concours) }}
    <div class="mb-3">
        <button class="btn btn-primary">Enregistrer</button>
    </div>
    {{ form_end(form) }}

{% endblock %}

