{% extends 'base.html.twig' %}

{% block content %}

    <br>
    <h1>Créer un concours</h1>
    <br>
    <div class="note note-info">
        L'intitulé et le type de concours permettent de repérer un concours.
    </div>
    <br>
    {{ form_start(form) }}
    {{ form_row(form.intitule) }}
    {{ form_row(form.type_concours) }}
    <br>
    <div class="note note-success">
        En cliquant sur "créer", le concours sera enregistré.
        Aucun test ne sera associé par défaut à ce concours, il faudra les modifier manuellement.
    </div>
    <br>
    <div class="mb-3">
        <button class="btn btn-primary">Créer</button>
    </div>
    {{ form_end(form) }}

{% endblock %}

