{% extends 'base.html.twig' %}

{% block title %}Principales actions de l'application{% endblock %}

{% block body %}

    <a href="{{ path("calcul_base") }}">Corriger une session de base</a>
    <br>
    <a href="{{ path("consulter_sessions") }}">Consulter les sessions</a>
    <br>
    <a href="{{ path("consulter_etalonnages") }}">Consulter les etalonnages</a>

{% endblock %}