{% extends 'base.html.twig' %}

{% block content %}

    <br>
    <h1>Choisir la méthode de création de l'étalonnage</h1>
    <br>
    <div class="row row-cols-auto">
        <div class="card col">
            <div class="card-body">
                <h5 class="card-title">Simple</h5>
                <ul class="card-text">
                    <li>Saisie du nombre de classes</li>
                    <li>Saisie des bornes de chacune des classes pour chacune des échelles</li>
                </ul>
                <a type="button" class="btn btn-primary" href="{{ path("etalonnage_creer_simple") }}">Choisir</a>
            </div>
        </div>
        <div class="card col ms-3">
            <div class="card-body">
                <h5 class="card-title">Gaussien</h5>
                <ul class="card-text">
                    <li>Saisie du nombre de classes</li>
                    <li>Saisie de la valeur moyenne et de l'écart type pour chacune des échelles</li>
                    <li>Possibilité de modifier les bornes manuellement, comme pour l'étalonnage simple</li>
                </ul>
                <a type="button" class="btn btn-primary" href="{{ path("etalonnage_creer_gaussien") }}">Choisir</a>
            </div>
        </div>
    </div>

{% endblock %}

