node_modules
doc
docs
assets
migrations
var
vendor
.idea
package-lock.json
.env.local
.env.*.local
apigen.neon
.phpunit.result.cache
.gitignore
docker-compose.yml
Dockerfile
phpunit.xml.dist
README.md
webpack.config.js
