{% extends 'base.html.twig' %}

{% block content %}

    <br>
    <h1>Administrateur</h1>
    <br>
    <p class="lead">Fonctions d'administration</p>
    <br>
    <div class="row row-cols-auto">
        <div class="card col-lg">
            <div class="card-body">
                <h5 class="card-title">Utilisateurs</h5>
                <p class="card-text">Liste les utilisateurs disponibles, leurs droits et permet le changement de mot de
                    passe.</p>
                <a type="button" class="btn btn-primary" href="{{ path("admin_utilisateurs") }}">Choisir</a>
            </div>
        </div>
        <div class="card col-lg ms-3">
            <div class="card-body">
                <h5 class="card-title">Activité</h5>
                <p class="card-text">Gestion de l'activité sur Cortest</p>
                <a type="button" class="btn btn-primary" href="{{ path("admin_activite") }}">Choisir</a>
            </div>
        </div>
    </div>
{% endblock %}