{% extends 'base.html.twig' %}

{% block content %}
    <br>
    <h1>Lecture de notes par lecteur optique</h1>
    <br>
    <p class="lead">Cette option n'est pas encore développée. Elle ne tardera pas</p>
{% endblock %}
