{% extends "base.html.twig" %}

{% block content %}

    <h2>Créer une resource</h2>
    <br>
    <p>Une resource est un document partagé sur Cortest. Il n'est pas utilisé par l'application, mais peut être partagé
        entre les utilisateurs. Des conseils d'utilisation ou des fichiers de travail peuvent être partagés ainsi.</p>
    <br>
    <div class="note note-warning">
        Tous les utilisateurs peuvent consulter vos resources. Vous seul pouvez supprimer une resource que vous avez mis
        en ligne.
    </div>
    <br>
    {{ form(form) }}

{% endblock %}


