{% extends 'base.html.twig' %}

{% block content %}
    <br>
    <h1>Cortest</h1>
    <br>
    <p class="lead">Page d'accueil de Cortest, rajouter les infos importantes (notre contact, les resources...)</p>
    <br>
{% endblock %}

