<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Lecteur optique</title>
</head>
<body>
<h1>Contrôle du lecteur optique</h1>
<form action="opticScanner/open" method="post">
    <button>Open</button>
</form>
<form action="opticScanner/close" method="post">
    <button>Close</button>
</form>
</body>
</html>
