{% extends 'base.html.twig' %}

{% block content %}
    <h1>Ressources graphiques</h1>
    <b>Ressources :</b>
    <ul>
        <li><b>Format plan avec 9 classes</b> <a class="fa fa-download"
                                           href="{{ asset('/res_graphique/latex_plan.tex.twig') }}"
                                           target="_blank"></a></li>
    </ul>
{% endblock %}