{% extends 'base.html.twig' %}

{% block content %}

    <br>
    <h1>{{ titre_form }}</h1>
    <br>
    {{ form(form) }}
    <a class="btn btn-secondary"
       href="{{ path("graphique_consulter", {"id":subtest.graphique.id}) }}">Retour au graphique</a>

{% endblock %}