{% extends 'base.html.twig' %}

{% block content %}

    <br>
    <h1>Tester le graphique</h1>
    <br>
    <p>Test le rendu graphique à partir d'un correcteur/étalonnage aux choix, ainsi qu'un candidat par
        défaut contenant "TEST" dans tous ses champs, et ayant répondu 'C' à toutes les questions.</p>
    <br>
    {{ form(form) }}

{% endblock %}

