{% extends 'base.html.twig' %}

{% block content %}

    <br>
    <h1>Vérifier les variables</h1>
    <br>
    <div class="note note-info">
        Pour vérifier les variables dans une situation donnée, vous devez préciser le test, le correcteur, et
        l'étalonnage.
    </div>
    <br>
    {{ form(form) }}

{% endblock %}

