{% extends "scores_profils/score_ou_profil_cahier_des_charges.html.twig" %}

{% block scores %}
    <a href="{{ path('session_profil_form', {"session_id":session_id, "score_computer_id":score_computer_id}) }}">Consulter
        l'étalonnage</a>
{% endblock %}
