{% extends 'base.html.twig' %}

{% block body %}

    <h1>Scores de la session</h1>
    <br>

    {% block to_etalonnage %}
    {% endblock %}
    <br>

    {% block scores_ou_profils %}
    {% endblock %}

{% endblock %}