{% extends "base.html.twig" %}
{% block body %}

    <h2>Consulter les scores d'une session</h2>
    <br>
    {{ form(form) }}

{% endblock %}

{% block title %}
    Consulter les scores
{% endblock %}

