{% extends "base.html.twig" %}
{% block body %}

    <h1>Consulter les profils d'une session</h1>

    <br>

    {{ form(form) }}

{% endblock %}

{% block title %}
    Consulter les profils
{% endblock %}

