{# templates/epreuve/default.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Chargement des épreuves</title>
    </head>
    <body>
        <h1>Création d'une nouvelle épreuve</h1>

        {{ render(controller('App\\Controller\\EpreuveController::form'))}}

        
    </body>
</html>