{% extends 'base.html.twig' %}

{% block content %}
    <br>
    <h1>Profils disponibles</h1>
    <br>
    <p class="lead">Liste des profils utilisables par l'application Cortest.</p>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Propriétes</th>
        </tr>
        </thead>
        <tbody>
        {% for score in profil_ou_score %}
            <tr>
                <td>{{ score.nom }}</td>
                <td>
                    {% for property in score.properties %}
                        {{ property.nom }}
                        {{ not loop.last ? ' - ' : '' }}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
{% endblock %}

