{% extends "base.html.twig" %}

{% block content %}
    <br>
    <h1>Choix d'un profil graphique</h1>
    <br>
    {{ form(form) }}
    <div class="mb-3">
        <a class="btn btn-primary"
           href="{{ path("profil_consulter", {"session_id":session.id, "etalonnage_id":etalonnage.id, "correcteur_id":correcteur.id}) }}">Revenir
            aux profils</a>
    </div>
{% endblock %}

