{% extends 'base.html.twig' %}

{% block content %}

    <br>
    <h1>Ajouter une échelle à un correcteur</h1>
    <br>
    {%  for echelle in echellesDisponibles %}
        <div class="row row-cols-auto">
            <div class="col">
                <a class="btn btn-secondary"
                   href="{{ path("correcteur_ajoutEchelle", {"id": id, "idEchelle": echelle.id}) }}">Ajouter</a>
            </div>
            <div class="col">
                {{ echelle.nom }}
            </div>
        </div>
        <br>
    {%  endfor %}
    <div class="row row-cols-auto">
        <div class="col">
            <a class="btn btn-secondary"
               href="{{ path("echelle_creation", {"id": id}) }}">Création d'une nouvelle échelle</a>
        </div>
    </div>


{% endblock %}

